<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline"/>
      </layout>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Date"/>
      <datePattern value="'SQLBulkCopy_'yyyy-MM-dd"/>
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false"/>
      <file type="log4net.Util.PatternString" value="f:\\L4S\\Logs\\.log"/>

      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start]&#13;&#10;"/>
        <footer value="[End]&#13;&#10;"/>
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <appSettings>
    <add key="inputDir" value="f:\L4S\PreProcessor\Processed\"></add>
    <add key="workDir" value="f:\L4S\SQLBulkCopy\Work\"/>
    <add key="outputDir" value="f:\L4S\SQLBulkCopy\Processed\"></add>
    <add key="inputFileName" value="*.csv"/>
    <add key="inputFieldSeparator" value="|"/>
    <add key="server" value="(localdb)\.\MyLDB"/>
    <add key="serverPort" value="1433"/>
    <add key="database" value="log4service"/>
    <add key="schema" value="dbo"/>
    <add key="table" value="Stage_LogImport"/>
    <add key="fileInfoInsert" value="sp_stage_fileInfo"/>
    <add key="integratedSecurity" value="false"/>
    <add key="dbuser" value ="loader"/>
    <add key="dbpassword" value="L0aDer,12"/>
    <add key="loaderMode" value="fast"/>
    <add key="batchSize" value="10000"/>
    <add key="batchTimeout" value="60"/>
  </appSettings>
</configuration>
