body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.maxLengthStyle {
    max-width: 600px !IMPORTANT;
}


#leftMenu .accordion-inner {
    background-color: #717171; /* layer fill content */
}

#leftMenu .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#leftMenu .accordion-heading {
    height: 44px;
    border-top: 1px solid #717171; /* inner stroke #717171 */
    border-bottom: 1px solid #5A5A5A; /* inner stroke  5A5A5A */
    border-left: 1px solid #717171;
    background-color: #222; /* layer fill content 353535*/
    list-style-type: none;
}

    #leftMenu .accordion-heading a {
        color: #cbcbcb; /* text color */
        text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
        text-decoration: none;
        font-weight: bold;
        margin-left: 10px;
        font-size: 15px;
        position: relative;
        top: 10px;
    }

        #leftMenu .accordion-heading a:hover {
            color: #ccc
        }

    #leftMenu .accordion-heading .active {
        width: 182px;
        height: 34px;
        border: 1px solid #5b5b5b; 
        background-color: #353535; 
        background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); 
        background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); 
        background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); 
        background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); 
    }

   .nav-pills > li.active > a {
       background-color: #717171;
       margin-left: 15px;
       border-top: 0px solid #5A5A5A; 
       border-bottom: 1px solid #5A5A5A; 
       border-left: 0px solid #717171;
}

    .nav-pills > li.active > a:hover {
        background-color: #5A5A5A;
        border-top: 0px solid #717171; 
        border-bottom: 1px solid #5A5A5A;
        border-right: 1px solid #5A5A5A;
    }

.table > tbody > tr > td {
    vertical-align: middle;
}

/*Dialog size*/
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 10px;
}

.modal-sm {
    max-width: 300px;
}

.modal-lg {
    max-width: 1200px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
    }
}

@media (min-width: 320px) {
    .modal-sm {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 620px) {
    .modal-dialog {
        margin-right: auto;
        margin-left: auto;
    }

    .modal-lg {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 920px) {
    .modal-lg {
        margin-right: auto;
        margin-left: auto;
    }
}
/********************************/

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

td {
    word-break: break-word;
}

.datepicker {
    background-color: #fff;
    color: #333;
}

/* Loading Spinner style*/
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
   
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* gulicky */
.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

    .sk-fading-circle .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

        .sk-fading-circle .sk-circle:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        }

    .sk-fading-circle .sk-circle2 {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .sk-fading-circle .sk-circle3 {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    .sk-fading-circle .sk-circle4 {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .sk-fading-circle .sk-circle5 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    }

    .sk-fading-circle .sk-circle6 {
        -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        transform: rotate(150deg);
    }

    .sk-fading-circle .sk-circle7 {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sk-fading-circle .sk-circle8 {
        -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        transform: rotate(210deg);
    }

    .sk-fading-circle .sk-circle9 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);
    }

    .sk-fading-circle .sk-circle10 {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .sk-fading-circle .sk-circle11 {
        -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        transform: rotate(300deg);
    }

    .sk-fading-circle .sk-circle12 {
        -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        transform: rotate(330deg);
    }

    .sk-fading-circle .sk-circle2:before {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .sk-fading-circle .sk-circle3:before {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .sk-fading-circle .sk-circle4:before {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .sk-fading-circle .sk-circle5:before {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    .sk-fading-circle .sk-circle6:before {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .sk-fading-circle .sk-circle7:before {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .sk-fading-circle .sk-circle8:before {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }

    .sk-fading-circle .sk-circle9:before {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .sk-fading-circle .sk-circle10:before {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }

    .sk-fading-circle .sk-circle11:before {
        -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
    }

    .sk-fading-circle .sk-circle12:before {
        -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
    }

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}