@{
    ViewBag.Title = "O aplikácii";
    ViewBag.Message = "Aplikácia na spracovanie a vyhodnotenie logov z webových serverov služieb nevizuálnych rozhraní";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
