@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <h4>Výskumný ústav geodézie a kartografie v Bratislave<br /></h4>
    <h4>Chlumeckého 4, 826 62  Bratislava<br /></h4>
    <h4>IČO: 00166251<br /></h4>
    <h4><abbr title="tel.">tel: </abbr>+421 2 2081 6180<br /></h4>
    <h4><abbr title="email">Email: </abbr> <a href="mailto:vugk@skgeodesy.sk">vugk@skgeodesy.sk</a><br /></h4>
</address>

<address>
    <h4><strong>Support:</strong>   <a href="mailto:support@bluez.sk">support@bluez.sk</a><br /><h4>
</address>