<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="drive" value="f:\"/>
    <add key="inputDir" value="\L4S\PreProcessor\Input\"/>
    <add key="outputDir" value="\L4S\PreProcessor\Output\"/>
    <add key="workDir" value="\L4S\PreProcessor\Work\"/>
    <add key="backupDir" value="\L4S\PreProcessor\Backup\"/>
    <add key="fileMask" value="*.csv"/>
    <add key="pattern1" value="^\w" />
    <add key="pattern2" value="^\d" />
    <add key="pattern3" value="^." />
  </appSettings>
</configuration>
