<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
   <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      
      <rollingStyle value="Date" />
      <datePattern value="'PreProcess_'yyyy-MM-dd"/>
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <file type="log4net.Util.PatternString" value="f:\\L4S\\Logs\\.log" />
        
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start]&#13;&#10;" />
        <footer value="[End]&#13;&#10;" />
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <appSettings>
    <!-- Full Path must be ended by \ -->
    <add key="inputDir" value="f:\L4S\NetCollector\Downloaded\"/>
    <add key="outputDir" value="f:\L4S\PreProcessor\Processed\"/>
    <add key="workDir" value="f:\L4S\PreProcessor\Work\"/>
    <add key="inputFileName" value="*.csv"/>
    <!--Output file mask cannot include _--> 
    <add key="outputFileMask" value="PreProcessOK"/>
    <!-- Write carefully tested regexp  http://regexstorm.net/ -->
    <add key="pattern1" value="^.*GET\s/\w\w*.*$" />
    <!--<add key="pattern2" value="^\d.*" />
    <add key="pattern3" value="^.*" />-->
    
    <!--Corresponding with Stage db table structure-->
    <add key="headerLine" value="batchID|originalFileName|originalCheckSum|preProcessFileName|col1|col2|col3|col4|col5|col6|col7|col8|col9"/>
    <!--Remaping field from input file to output corresponding by header-->
    <add key="unifiedMap" value="0,1,2,3,4,5,6,7,8,9"/>
    <add key ="inputFieldSeparator" value=","/>
    <add key ="outputFieldSeparator" value="|"/>
    <!--Batch Id is increment every run--> 
    <add key ="batchID" value="1"/>
  </appSettings>
</configuration>
