<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
   <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      
      <rollingStyle value="Date" />
      <datePattern value="'PreProcess_'yyyy-MM-dd"/>
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <file type="log4net.Util.PatternString" value="f:\\L4S\\Logs\\.log" />
        
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start]&#13;&#10;" />
        <footer value="[End]&#13;&#10;" />
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <appSettings>
    <!-- All directory must be ended by \ -->
    <add key="drive" value="f:\"/>
    <add key="inputDir" value="\L4S\NetCollector\Downloaded\"/>
    <add key="outputDir" value="\L4S\PreProcessor\Processed\"/>
    <add key="workDir" value="\L4S\PreProcessor\Work\"/>
    <add key="inputFileMask" value="*.csv"/>
    <add key="ouputFileMask" value="PreProcessOK_"/>
    <!-- Write carefully tested regexp  http://regexstorm.net/ -->
    <add key="pattern1" value="^\w.*" />
    <add key="pattern2" value="^\d.*" />
    <add key="pattern3" value="^.*" />
    <add key="unifiedMap" value="2,0,3,1,5,6"/>
    <add key ="inputFieldSeparator" value=","/>
    <add key ="outputFieldSeparator" value="|"/>
  </appSettings>
</configuration>
