<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="PX1" connectionString="remoteServer=localhost;shareName=L4S;remoteDir=\netsource\;
                                        remoteFileName=*_01.log;allowRenameRemote=True;renameRemoteExtension=.dwn;
                                        integratedSecurity=True;login=login;password=passwd;domain=domain"
         providerName="NetShare" />

    <add name="PX2" connectionString="remoteServer=localhost;shareName=L4S;remoteDir=\netsource2\;
                                        remoteFileName=*_01.log;allowRenameRemote=True;renameRemoteExtension=.dwn;
                                        integratedSecurity=True;login=login;password=passwd;domain=domain"
         providerName="NetShare" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline"/>
      </layout>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <rollingStyle value="Date"/>
      <datePattern value="'NetCollect_'yyyy-MM-dd"/>
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false"/>
      <file type="log4net.Util.PatternString" value="f:\\L4S\\Logs\\.log"/>

      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start]&#13;&#10;"/>
        <footer value="[End]&#13;&#10;"/>
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <appSettings>
    <add key="transferMethod" value="NetShare"/>
    <!--<add key="transferMethod" value="FTP"/>-->
    <add key="remoteServer" value="localhost"/>
    <add key="shareName" value="L4S"/>
    <!-- All directory must be ended by \ -->
    <!--<add key="remoteDir" value="\L4S\ftpsource\" />-->
    <add key="remoteDir" value="\netsource\"/>
    <add key="remoteFileName" value="*_01.log"/>
    <add key="dateMask" value="yyyyMMdd"/>
    <add key="whichDay" value="0"/>
    <add key="allowRenameRemote" value="True"/>
    <add key="renameRemoteExtension" value=".dwn"/>
    <!-- IF False then user, password, domain will use for connection-->
    <add key="integratedSecurity" value="True"/>
    <add key="login" value="login"/>
    <add key="password" value="passwd"/>
    <add key="domain" value="domain"/>
    <!-- Full Path must be ended by \ -->
    <add key="outputDir" value="f:\L4S\NetCollector\Downloaded\"/>
    <add key="workDir" value="f:\L4S\NetCollector\Work\"/>
    <add key="backupDir" value="f:\L4S\NetCollector\Backup\"/>
    <add key="singleFileMode" value="true"/>
    
  </appSettings>
</configuration>
