<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="DatabaseInstance" value="winbz" />
    <add key="PROD_L4SbinFolder" value="c:\L4S\bin\" />
    <add key="TEST_L4SbinFolder" value="c:\L4Stest\bin\" />
    <add key="BookedFolder" value="C:\BatchRoot\Booked" />
    <add key="WrongFolder" value="C:\BatchRoot\Wrong" />
    <add key="RunningFolder" value="C:\BatchRoot\Working" />
    <add key="CompletedFolder" value="C:\BatchRoot\Completed" />
  </appSettings>
</configuration>