<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <commonSettings>
    <backupDirectory>c:\backup</backupDirectory>
    <dayOfRun>6</dayOfRun>
    <delOlderAs>1</delOlderAs>
  </commonSettings>
  <appSettings>
    <add key="PROD_L4Sbin" value="c:\L4S\bin\"></add>
	<add key="TEST_L4Sbin" value="c:\L4Stest\bin\"></add>
	<add key="PROD_VOSKWeb" value="c:\inetpub\wwwroot\vosk"></add>
	<add key="TEST_VOSKWeb" value="c:\inetpub\wwwroot\vosk"></add>
  </appSettings>
  <dbSettings>
    <databaseServer>vugkvosk</databaseServer>
    <compressDBbackup>yes</compressDBbackup>
    <databases>
	<!-- Systemove databazy sa zalohuju tyzdenne -->
        <database>master</database>
        <database>model</database>
        <database>msdb</database>
	<!-- Aplikacne databazy sa zalohuju tyzdenne full a denne differencial -->
        <database>log4service</database>
        <database>log4test</database>
    </databases>
  </dbSettings>
</configuration>